In [1]:
import pandas as pd

In [25]:
census_sa1 = pd.read_csv("../data/census_SA1.csv")
census_sa1.columns

Index(['Tot_P_P', 'Tot_P_M', 'Tot_P_F', 'Num_MVs_per_dweling_0_MVs',
       'Num_MVs_per_dweling_1_MVs', 'Num_MVs_per_dweling_2_MVs',
       'Num_MVs_per_dweling_3_MVs', 'Num_MVs_per_dweling_4mo_MVs',
       'Num_MVs_per_dweling_Tot', 'Num_MVs_NS', 'Total_dwelings',
       'Age_0_4_yr_P', 'Age_5_14_yr_P', 'Age_15_19_yr_P', 'Age_20_24_yr_P',
       'Age_25_34_yr_P', 'Age_35_44_yr_P', 'Age_45_54_yr_P', 'Age_55_64_yr_P',
       'Age_65_74_yr_P', 'Age_75_84_yr_P', 'Age_85ov_P', 'Num_Psns_UR_1_Total',
       'Num_Psns_UR_2_Total', 'Num_Psns_UR_3_Total', 'Num_Psns_UR_4_Total',
       'Num_Psns_UR_5_Total', 'Num_Psns_UR_6mo_Total', 'P_LFS_NS_Tot',
       'P_Not_in_LF_Tot', 'P_Tot_LF_Tot', 'P_Tot_Unemp_Tot', 'P_Tot_Emp_Tot',
       'P_Hours_wkd_NS_Tot', 'P_Emp_awy_f_wrk_Tot', 'P_Emp_PartT_Tot',
       'P_Emp_FullT_Tot', 'SA1', 'NAME', 'TOT_CASUAL_GUESS', 'TOT_NOT_WORKING',
       'TOT_NOT_FT_WORK', 'TOT_NOT_PT_WORK', 'TOT_NOT_CASUAL_WORK'],
      dtype='object')

In [26]:
census_sa1["Total_dwelings"].sum()

1904963

In [27]:
cols = [x for x in census_sa1.columns if "Num_MVs_per_dweling" in x]
cols.remove("Num_MVs_per_dweling_Tot")
cols

['Num_MVs_per_dweling_0_MVs',
 'Num_MVs_per_dweling_1_MVs',
 'Num_MVs_per_dweling_2_MVs',
 'Num_MVs_per_dweling_3_MVs',
 'Num_MVs_per_dweling_4mo_MVs']

In [29]:
def f(row):
    val = row["Total_dwelings"] - row[cols].sum()
    return val if val >= 0 else 0
census_sa1["new_Num_MVs_NS"] = census_sa1.apply(f, axis=1)

In [35]:
census_sa1["Total_dwelings"].sum() - (census_sa1["Num_MVs_NS"].sum() + census_sa1[cols].sum().sum())

5940

In [36]:
census_sa1["Total_dwelings"].sum() - (census_sa1["new_Num_MVs_NS"].sum() + census_sa1[cols].sum().sum())

-13334

In [37]:
hh_sample = pd.read_csv("../data/connect_hh_main.csv")
hh_sample

,hhid,dwelltype,owndwell,hhinc,totalvehs,Spouse,Child,Others,Grandchild,persid,age,sex,persinc,nolicence,anywork,_weight
0,Y12H0000101,Separate House,Fully Owned,1225.0,2,1,2,0,0,Y12H0000101P01,50,M,$1000-1249 p.w.,Some Licence,Y,92.33
1,Y12H0000102,Separate House,Being Purchased,1700.0,3,1,2,0,0,Y12H0000102P01,57,F,$1-199 p.w.,Some Licence,N,90.31
2,Y12H0000103,Separate House,Being Purchased,1000.0,2,1,2,0,0,Y12H0000103P01,47,M,$400-599 p.w.,Some Licence,Y,91.63
3,Y12H0000104,Separate House,Fully Owned,1875.0,3,1,1,0,0,Y12H0000104P01,56,F,$1250-1499 p.w.,Some Licence,Y,91.78
4,Y12H0000107,Separate House,Being Purchased,1750.0,1,0,2,0,0,Y12H0000107P01,41,F,$1500-1999 p.w.,Some Licence,Y,270.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30798,Y20H4001024,Separate House,Being Purchased,0.0,3,1,0,0,0,Y20H4001024P01,56,F,Zero Income,Some Licence,N,300.87
30799,Y20H4001028,Separate House,Fully Owned,574.0,2,1,0,0,0,Y20H4001028P01,64,M,Zero Income,Some Licence,N,858.94
30800,Y20H4001029,Separate House,Fully Owned,700.0,2,1,0,0,0,Y20H4001029P01,73,M,$300-399 p.w.,Some Licence,N,303.17
30801,Y20H4001036,Separate House,Fully Owned,450.0,1,0,0,0,0,Y20H4001036P01,75,F,$400-599 p.w.,Some Licence,N,303.17
30802,Y20H4001039,Separate House,Fully Owned,724.0,1,0,0,0,0,Y20H4001039P01,76,F,$600-799 p.w.,Some Licence,N,301.36

In [38]:
hh_sample["totalvehs"].unique()

array([2, 3, 1, 4, 0, 5, 6, 9, 7, 8], dtype=int64)

In [42]:
syn_check = pd.read_csv("SynPop_forward_hh_main_sa1.csv")

In [45]:
syn_check["Spouse"].value_counts()

Spouse
1    1222228
0     776767
2        985
3         20
Name: count, dtype: int64

In [50]:
hh_sample[hh_sample["Spouse"]==2]

,hhid,dwelltype,owndwell,hhinc,totalvehs,Spouse,Child,Others,Grandchild,persid,age,sex,persinc,nolicence,anywork,_weight
1905,Y13H0230138,Separate House,Fully Owned,1300.0,2,2,0,1,0,Y13H0230138P01,48,F,$600-799 p.w.,No Licence,Y,79.41
3026,Y13H0370112,Terrace/Townhouse,Being Rented,2250.0,1,2,0,0,0,Y13H0370112P01,34,M,$1000-1249 p.w.,Some Licence,Y,80.68
10315,Y14H1190430,Separate House,Being Purchased,5400.0,3,2,3,1,0,Y14H1190430P01,41,F,$800-999 p.w.,Some Licence,Y,115.61
11325,Y15H1310138,Other,Being Rented,3150.0,3,2,0,0,0,Y15H1310138P01,34,M,$800-999 p.w.,Some Licence,Y,134.55
24049,Y18H3002038,Separate House,Being Rented,3650.0,3,2,0,2,0,Y18H3002038P01,34,F,$1250-1499 p.w.,Some Licence,Y,65.46
26205,Y18H3220307,Flat or Apartment,Being Purchased,2748.0,1,2,1,0,0,Y18H3220307P01,55,M,$1000-1249 p.w.,Some Licence,Y,482.30
26744,Y18H3300507,Separate House,Fully Owned,0.0,3,2,0,0,0,Y18H3300507P01,64,F,Zero Income,Some Licence,N,251.26
27115,Y19H3370435,Separate House,Being Purchased,0.0,0,2,0,0,2,Y19H3370435P01,55,M,Zero Income,Some Licence,N,196.96
29663,Y19H3800335,Flat or Apartment,Being Rented,1474.0,1,2,0,0,0,Y19H3800335P01,26,M,$300-399 p.w.,Some Licence,Y,562.56
30326,Y20H3920317,Separate House,Fully Owned,900.0,1,2,2,0,0,Y20H3920317P01,50,M,Zero Income,Some Licence,Y,34.50